#root {
  width: 100vw;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.scrollable {
  max-height: 300px;
  overflow: auto;
}

.login-signup {
  color: white;
}

#sprite {
  height: 20rem;
  width: auto;
}

.pokemon-species {
  font-size: 5rem;
  -webkit-text-stroke:3px #3264AF;
  font-family: sans-serif; 
  color: #FFCC01;
}

.pokemon-font {
  font-size: 1.346rem;
  font-weight: 600;
  -webkit-text-stroke:1px #3264AF;
  font-family: sans-serif;
  color: #FFCC01;
}

.game-button {
  padding-bottom: 10px;
}

.pokemon-field {
  background-image: url('https://cutewallpaper.org/21/pokemon-battle-field-background/Pokemon-X-and-Y-battle-background-10-by-PhoenixOfLight92-on-.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.pokeball-wallpaper {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a3e65d21-5e60-42d8-a8b4-cdd8e34ce885/d3415su-2396b8da-f3f8-4979-ba9f-a0dc381500c8.png/v1/fill/w_900,h_563,q_80,strp/pokeball_wallpaper_2_by_aervormund_d3415su-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTYzIiwicGF0aCI6IlwvZlwvYTNlNjVkMjEtNWU2MC00MmQ4LWE4YjQtY2RkOGUzNGNlODg1XC9kMzQxNXN1LTIzOTZiOGRhLWYzZjgtNDk3OS1iYTlmLWEwZGMzODE1MDBjOC5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.KlYWLMAv21kCZ0etvwYKlFsNU-pgqBlG8Z53VUhfx2I');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.info-text {
  font-weight: 600;
  color: floralwhite;
}

.button-padding {
  padding-top: 30px
}
